body {
    position: relative;
    max-width:  800px;
    margin: auto;
    padding: 0;
    background-image: url('/img/betterthan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}

footer {
    text-align: right
}

header{
    text-align: left;
    color: white;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

#listEntries{
    list-style: none;
}

#workoutIndex, #workoutEntry{
    font-family: 'Kaushan Script', cursive;
    color: skyblue;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.blended{
    background-color: white;
    opacity:0.6;
}

.form-control {
    opacity:0.8;
}
